* {
  margin: 0;
  padding: 0;
}

.container {
  width: 900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: transfom 0.5s;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}
.icon-cart {
  position: relative;
}
.icon-cart svg {
  width: 40px;
  height: 40px;
}
.icon-cart span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.listProduct .item {
  /*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background-color: #eaeade;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.listProduct .item h2 {
  font-weight: 100;
}

.listProduct img {
  width: 100%;
  border-radius: 10px;
  max-width: 200px;
}

.listProduct .item button {
  background-color: black;
  color: #eeeee6;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.cartTab {
  width: 400px;
  background-color: black;
  color: white;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
}
/* body.showCart .container {
  transform: translateX(-250px);
} */
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
  background-color: #e8bc0e;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .btn .close {
  background-color: white;
}
.cartTab .listCart .item img {
  width: 100%;
}
.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}

.listCart {
  overflow: auto;
}
